  body
            {
                font-family: Verdana, Arial, sans-serif;
                line-height: 1.2em;
				width: 200px;
				height: 300px;
				background-image:url(images/transparent.png);
                 background-color: #FBEDBB;
				color:black;
				
           /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#258dc8', endColorstr='#258dc8',GradientType=1 ); */
		      behavior: url(/css/border-radius.htc);
    
		 
                
            }
 table
            {
                text-align: center;
                border: 1px solid #DDD;
                width: 100%;  
            }
            
            td
            {
                font-size: 10pt ;
                text-align: center ;
                margin: 0 px, 0 px, 0 px, 0 px;
                display: table-cell;
                width: 50%;
                padding: 0 px, 0 px, 0 px, 0px;
				height:35px;
            }
            
           
            .nostatus
            {
                background-color: #FBEDBB;
            }
            
            .bronze
            {
                background-color: #EFB255;
            }
            
            .silver
            {
                background-color: #DFDFDF;
            }
            
            .gold
            {
                background-color: #FC0;
            }
            
            .platinum
            {
                background-color: #CFE7FF;
            } 
			
			
					a:link {color:black;text-decoration:none;}      /* unvisited link */
a:visited {color:black;text-decoration:none;}  /* visited link */
a:hover {color:black;text-decoration:none;}  /* mouse over link */
a:active {color:black;text-decoration:none;}  /* selected link */
           
            