body
{
background-color:rgb(242, 242, 242);
}

.content
{
color:rgb(117,122,100);
}

.idea a
{
	color:rgb(117,122,100);
}

.amount
{
color:rgb(117,122,100);
}

.ideaamount
{
color:rgb(117,122,100);
}

.contentrow
{
		background-color:rgb(242, 242, 242);
}


.toprow
{

background-color:rgb(82,141,212);
}

.statusrow
{

background-color:rgb(242, 242, 242);
color:rgb(117,122,100);

}


.idearow
{
	background-color:rgb(242, 242, 242);

}

.bottomrow
{
	background-color:rgb(82,141,212);
}
