body
{
background-color:#009BBB;
}

.content
{
color:white;
}

.idea a
{
	color:white;
}

.amount
{
color:white;
}

.totalamount
{
color:white;
}

.ideaamount
{
color:white;
}

.contentrow
{
		background-color:#009BBB;
}


table.toprow, table.toprow1
{

background-color:#002663;
}

.statusrow
{

background-color:#009BBB;
color:white;

}


.idearow
{
	background-color:#009BBB;

}

.bottomrow
{
	background-color:#002663;
}

.legend-scale
{
background-color:#002663;


}


.arrow
{

	color:white;

}

